.container {
    width: auto;
    margin-left: 25px;
    margin-right: 65px;
}

.intro{
    width: 1200px;
}

.topic{

}
body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}


.Btype{
    margin-bottom: 10px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    border-radius: 1%;
    text-align: center;
    line-height: 30px;
}


.slider {
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    line-height: 13px;
}

.taz {
    fill: gray;
    stroke: #000041;
    stroke-width: .5;
}

#map,#map2, #map3, #map4, #map5{
    clear: left;
    width: 100%;
    height: 800px;
}

#map3 {
    width: 100%;
}

.btn-group-vertical{
    float: left;
    
}
circle:hover{
    cursor: crosshair;
}

.charts {
    margin: 2px;
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
    height: 225px;
}

#DataSelection{
    margin: 2px;
    height: 500px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    overflow:auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#DataSelection1{
    height: 350px;
}


.RoadPath {
    stroke-width: .5;
}

#context{
    height: 50%
}



.countries {
    stroke: #6cb0e0;
    stroke-width: 0.5px;

}
.centroids {
    stroke: black;
    fill: gray;
    opacity: .5;
    stroke-width: .1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}


.clearfix{
    margin-top: 15px;
    margin-left: 50px;
}
.a0-9 { fill:none; }
.a1-9 { fill:rgb(222,235,247); }
.a2-9 { fill:rgb(198,219,239); }
.a3-9 { fill:rgb(158,202,225); }
.a4-9 { fill:rgb(107,174,214); }
.a5-9 { fill:rgb(66,146,198); }
.a6-9 { fill:rgb(33,113,181); }
.a7-9 { fill:rgb(8,81,156); }
.a8-9 { fill:rgb(8,48,107); }

.t0-9 { fill:none;}
.t1-9 { fill:#E0C6C6;}
.t2-9 { fill:#D1AAAA;}
.t3-9 { fill:#C18D8D;}
.t4-9 { fill:#B27171;}
.t5-9 { fill:#A35555;}
.t6-9 { fill:#933838;}
.t7-9 { fill:#841C1C;}
.t8-9 { fill:#750000;}


.w0-9 { fill:none}
.w1-9 { fill:none; }
.w2-9 { fill:#AAAAAA; }
.w3-9 { fill:#8D8D8D; }
.w4-9 { fill:#717171; }
.w5-9 { fill:#555555 }
.w6-9 { fill:#383838;}
.w7-9 { fill:#1C1C1C; }
.w8-9 { fill:#000000; }

.white {fill: none}



/*Tabs*/
.tabContainer{
    width: 100%;
    margin: 0 auto;

}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip{
    font-weight: bold;
    background-color: rgba(0,0,65,.5);
    color: #ffffff;
    border-radius: 0;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ffffff;
    border-bottom: 1px solid #000000;
    color: #222;
}

.tab-content{
    display: none;
    background: #ffffff;
    padding: 5px;
    border-right: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-bottom: 1px solid #c6c6c6;

}

.tab-content.current{
    display: inherit;
}

#tab-2{
    height: 760px;
}


.hide{
    visibility: hidden;
}

.node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
}

.line {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

rect.background {
    fill: transparent;
}

.resize rect {
    fill: rgba(0,0,0,0.1);
}

rect.extent {
    fill: rgba(255,255,255,0.25);
    stroke: rgba(0,0,0,0.6);
}

.desaturate{
    fill-opacity: 0.2 !important;
    border: 1px lightgray solid;
}

#masterHead,
table.TransitSelector{
    margin-left: 10px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
}

#masterHead th {
   text-align: center;
    cursor: s-resize;
    width: 170px;
}

#masterHead{
    width: 93%;
    font-weight: bold;
}
#fullTable tr, #fullTable th{
    border: 1px solid ghostwhite;
}

td {
    min-width: 15%;
    cursor: default;

}

tr[class = tableRows ]:hover{
    color: orangered;
}

.littleCharts:hover{
    cursor: pointer;
    border-left: 1px solid red;
}

.assetLegend, .accessLegend, .transitLegend, .spiderLegend, .netLegend{
    padding: 6px 8px;
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.info, .netInfo, .streetInfo, .accessInfo, .spiderInfo{
    padding: 0px 10px;
    color: #ffffff;
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 2px;
}

.assetLegend, .accessLegend, .transitLegend, .spiderLegend,.netLegend{
    height: 200px;
    width: 100px;
}

.transitLegend{
    height: 170px;
}
.spiderLegend{
    height: 175px;
}

#totalLost{
    height: 100%;
}
.transitLegend text{
    font-size: 12px;
}

div.accessTip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #f5f5f5;
    border: 0px;
    border-radius: 8px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    float: right;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    margin-left: 10px;
    color: #000041;
    font-size: 14px;
    font-weight: bold;
}

.selectedButton{
    border-bottom: 2px solid red;
}

.fillerButton{
    border: none;
    z-index: -1;

}

#allButMenu{
    margin-left: 1%;
}

.sptrue{
    stroke: black;
    stroke-width: 3px;
}

#totalLost{
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #cccccc;
}

.littleSpecial{
    margin-left: 75px;
}
