.my_titles {
    margin: 20pt;
    font-weight: bold;
    font-family: "Helvetica Neue", sans-serif;
}

.intro{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue",sans-serif;
    font-size: x-large;
}